form#contact select {
  width: 100%;
  height: 46px;
  border-radius: 33px;
  background-color: #d1f3ff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 20px;
  margin-bottom: 20px;
}

form#contact span {
  
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 5px 0 20px;
}

.con-radio {
  
  width: auto !important;
  height: auto !important;
  margin-left: 5px;
}

.check-box-css {
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 5px 0 20px;
  margin-top: 6px;
}

span.con-tm {
  padding: initial !important;
}



/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
