form#contact select {
  width: 100%;
  height: 46px;
  border-radius: 33px;
  background-color: #d1f3ff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 20px;
  margin-bottom: 20px;
}

form#contact span {
  
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 5px 0 20px;
}

.con-radio {
  
  width: auto !important;
  height: auto !important;
  margin-left: 5px;
}

.check-box-css {
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 5px 0 20px;
  margin-top: 6px;
}

span.con-tm {
  padding: initial !important;
}

.react-tab-class ul.react-tabs__tab-list {
  background: #ffe6e6bf;
  border-bottom: none;
  text-align: center;
  border-radius: 6px;
}

.react-tab-class ul.react-tabs__tab-list .react-tabs__tab--selected {
  border-bottom: 4px solid #04a4ed;
}




















